<p>投稿一覧</p>
<div class="max-w-screen-sm border-solid border-2 border-black ">
    <% @posts.each do |post| %>
        <div>
            <div><%= link_to(post.content, post) %></div>
            <div><%= link_to(post.content, post) %></div>
        </div>
    <% end %>
</div>
